# Template for a workflow using BWA MEM plus post-processing with Picard and the GATK.
# If no version number of an algorithm or resource is specified then tool-level configuration
# will be pulled from the production directory as indicated in the
# information section.

# If not specifying specific version numbers for software and resources above
# Will look in the production directory for individual tool-level configuration files
# production can be set to false or not included. Version number should refer to the
# version number of this workflow. The same is true for development option.
# production and development are named directories in the tool workflow folder
# for configurations.

# Algorithm Selection occurs in the Python script

[settings]
run_name: test_run
insert_size: 250
coverage_threshold: 500

[tools]
num_cores: 6
max_mem: 4
min_alt_af: 0.01

[gatk]
bin: /usr/local/bin/GenomeAnalysisTK.jar
max_mem: 4
num_cores: 3

[freebayes]
bin: /usr/local/bin/GenomeAnalysisTK.jar
max_mem: 4
num_cores: 3

[mutect]
bin: /usr/local/bin/mutect.jar
max_mem: 4
num_cores: 3

[indelminer]
bin: indelminer
num_cores: 2
max_mem: 2


# Global resources
[resources]
regions: /data/Resources/trusight-myeloid-amplicon-track-nochr.bed
merged_regions: /data/Resources/trusight-myeloid-merged-regions-nochr.bed
reference: /data/Resources/Genomes/Human/GATK-Bundle/2.8/b37/human_g1k_v37.fasta
dbsnp: /data/Resources/Genomes/Human/GATK-Bundle/2.8/b37/dbsnp_138.b37.vcf
indel1: /data/Resources/Genomes/Human/GATK-Bundle/2.8/b37/Mills_and_1000G_gold_standard.indels.b37.vcf
indel2: /data/Resources/Genomes/Human/GATK-Bundle/2.8/b37/1000G_phase1.indels.b37.vcf
cosmic: /data/Resources/Genomes/Human/CosmicCodingMuts.ChrSorted.vcf
genome_build: GRCh37
